<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="assets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Uptime</title>
  </head>

  <body class="container">
    <h1>Uptime</h1>

    <a href="/add-origin">Add Origin</a>

    <table>
      <tr>
        <th>Uri</th>
        <th>Status</th>
        <th>Latency</th>
        <th>Queried</th>
      </tr>

      {% for origin in origins %}
      <tr>
        <td>{{ origin.uri }}</td>
        <td>{{ origin.status }}</td>
        <td>{{ origin.latency_millis }}ms</td>
        <td>{{ origin.queried_at }}</td>
      </tr>
      {% endfor %}
    </table>

    <table>
      <tr>
        <th>Uri</th>
        <th>Reason</th>
        <th>Queried</th>
      </tr>

      {% for origin in failing_origins %}
      <tr>
        <td>{{ origin.uri }}</td>
        <td>{{ origin.failure_reason }}</td>
        <td>{{ origin.queried_at }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
